html
{
    font-size: 62.5%;
}
body
{
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
	font-family: Helvetica;
}
h1
{
	font-size: 3rem;
}
a
{
	color: black;
	text-decoration: underline;
}
.wrapper
{
	margin: 0 20px;
}