html
{
    font-size: 62.5%;
}
body
{
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
	font-family: Helvetica;
}
h1
{
	font-size: 3rem;
}
h3
{
	margin-top: 0;
	margin-bottom: 2px;
}
}
a
{
	color: black;
	text-decoration: underline;
}
img
{
	max-width: 95vw;
}
hr
{
	margin: 50px 0;
}
.wrapper
{
	max-width: 1000px;
	margin: 0 20px;
}
.wrapper a
{
	display: block;
	margin-bottom: 7px;
}
.back
{
	display: block;
	font-size: 2.5rem;
	margin-top: 20px;
}

.q-el
{
	margin-bottom: 70px;
}